const edadString=prompt("Ingrese un numero");
const edad=Number(edadString);

if (edad>0 && edad<=6){
    console.log("Guagua");
}else{
    if(edad>6 && edad<=18){
        console.log("Guambra");
    }else{
        if(edad>18 && edad<=65){
            console.log("Longo");
        }else{
            if(edad>65 && edad<=66){
                console.log("ruku");
            }else{
                if(edad<-0){
                console.log("recien nacido");
                }else{
                    console.log("ya murio");
                }
            }
        }
    }
}